
.new-todo-btn {
    margin: 15px;
    width: 100px;
    height: 100px;
    align-self: flex-end;
}

mat-icon {
    transform: scale(2.5);
}

.todos-stats {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
    font-size: 1.2rem;
}

.todos-taskbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.slide-container {
    margin-right: 30px;
    margin-top: 30px;
}